<h1>List of Registered Company</h1>
<br />
<table>
  <tr>
    <th>Company Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comp_infos.each do |comp_info| %>
  <tr>
    <td><%= link_to comp_info.comp_name , comp_info %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_comp_info_path(comp_info) %></td>
    <td><%= link_to 'Destroy', comp_info, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company Reservation', new_comp_info_path %>


<div class="equipment">

  <p>
  <span style="font-size:1.2em;font-weight:bolder;">Technical Equipment (to be provided by PeopleSparx)</span><br /><br />    
  <span style="font-weight:bolder;">STAGE BACKDROP</span> <br />
  Framing of 3 – 9’x12’ LCD Screens 
  <br />  <br />
  <span style="font-weight:bolder;">VIDEO SYSTEM</span><br />
  3 units   9’ x 12’ LCD Screens<br />
  3 units   LCD Rear Projectors<br />
  2 units   Camera System <br />
  1 unit  DVD Harddisk Recording<br />
  2 units   DVD Players<br />
  1 lot                VGA Splitters & Switchers <br />                    
<br /><br />
  <span style="font-weight:bolder;">LIGHTS & SOUND SYSTEM</span><br />
  Audio System<br />
  6 units EAW Type AS690<br />
  4 units RCF 4PRO6001<br />
  6 units EV- Type Sub Scoop, Subwoofer, Powered, 600w<br />
  4    units RCF 4PRO3002SMA, 12” Bi-Amp, Powered Speakers<br />
  2 units Pioneer CDJ 100s CD Players<br />
  1 unit  Stanton SA3, Professional Scratch Mixer (DJ Battle Mixer)<br />
  1   unit 32 channels Digital Mixing Console<br />
  1 lot Shure SM58 Wired Microphone<br />
  4 units Sennheiser eW135 Handheld wireless UHF microphone<br />
<br /><br />
  <span style="font-weight:bolder;">Miscellaneous</span><br />
  1 lot Microphone stands<br />
  1 unit  Whirlwind 32x8x50m Microphone Snake Cable<br />
  4 units Crank-up Mechanical Light Stand. 20’ hoist level<br />
  1 lot Steel Scaffoldings<br />
  1 lot Cables, Connectors & Wiring Materials<br />
  1 unit  Power Distribution Unit, 120 amperes main breaker (3 phase)<br />
  1 unit  Power Distribution Unit, 200 amperes main breaker (3 phase)<br />
  5 units Communication Headsets<br />
<br /><br />
  <span style="font-weight:bolder;">Lighting and Effects</span><br />
  24  units Par 64 lamps <br />
  1 unit  DMX Dimmer Board Light Controller<br />
  16  units Lumilites LED Par 3W<br />
  2 units Jogen 1200 Fog Machine<br />
  2 units Antari HZ100 Haze machine<br />
  2 units Silverstar HMI 1200 Follow Spot<br />
  2 units Jogen Molefay (flash) Audience Blinder Lights<br />
  4 units Pearl River Big Dipper, Profile 575 moving heads<br />
  1 unit  Magic DP1220 DMX 4kva X 12 channel dimmer pack<br />
  1 unit  Avolites Pearl 2010 programmable light mixing console<br />

  </p>
</div>
